
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
       <div class="intro-text"> 
       <span class="name">YodaMinder</span>
       <img class="yodapic img-responsive" src="http://th02.deviantart.net/fs71/200H/f/2010/232/1/7/Yoda_by_kiddo47.png" alt="">
       <p class="intro_text">
				Ever wish you could have a personal assistant? 
				Letting you know that you have a dentist appointment coming up or 
				that you have a meeting with timmy next friday. Maybe you need a reminder 
				of your own birthday! 
				Well Yodaminder allows yoda to text you and remind you about those special|important events. Just sign up, login and fill out when and what you want to be reminded about and yoda will let you know.
			</p>
        </div>
      </div>
    </div>
  </div>
</header>

<footer>
    <div class="container">
    <div class="row">
      <div class="col-lg-12">
       <div class="intro-text"> 
       <span class="name"></span>
       <ul>
        <img class="yodapic img-responsive" src="http://fc00.deviantart.net/fs71/i/2012/103/8/6/chibi_boba_fett_by_thelivingchimera-d2wn7a7.png" alt="">   
        <p>
          Hey Boba Fett here!<br> 
          You can tell Master Yoda your plans and he will remind you <br> 
          so you wont forget
        </p>
        </div>
      </div>
    </div>
  </div>
</footer>