/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);


body {
    overflow-x: hidden;
    background-color: #3D9970;
}

.navbar {
	background-color: rgb(0,0,0);
	height: 30%;
}

.navbar-brand{
	font-size: 50px;
	margin-top: 60px;
	margin-left: 10px!important;
}

i{
	font-size: 35px!important;
}

.loggingin{
	background-color: cornflowerblue;
	border-radius: 100px;
	height: 130px;
	color: black;
	margin-top: 30px;
	margin-right: 20px;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}

.loggingin i{
	margin-top: 15px;
	margin-left: 35px;
	margin-bottom: 10px;
}

.signup1{
	background-color: orange;
	border-radius: 100px;
	height: 130px;
	color: black;
	margin-top: 30px;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}

.signup1 i{
	margin-top: 15px;
	margin-left: 35px;
	margin-bottom: 10px;
}

.logout{
	background-color: orange;
	border-radius: 100px;
	height: 130px;
	color: black;
	margin-top: 30px;
	margin-right: 20px!important;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}

.logout i{
	margin-left: 35px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.loggedin{
	background-color: cornflowerblue;
	border-radius: 100px;
	height: 130px;
	width: 130px;
	color: black;
	margin-top: 30px;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}

.loggedin i{
	position: relative;
	margin-left: 35px;
	margin-top: 8px;
	margin-bottom: 5px;
}

.appointcircle{
	background-color: grey;
	border-radius: 100px;
	height: 130px;
	width: 130px;
	color: black;
	margin-top: 30px;
	margin-right: 20px;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}

.appointcircle i{
	position: relative;
	margin-left: 30px;
	margin-top: 12px;
	margin-bottom: 8px;
}

.back{
	margin-left: 10px;
}

.back2{
	margin-left: 4px;
}



header {
    text-align: center;
    background-color: #3D9970;
    background-size: cover;
}

header img {
    display: block;
    margin: 0 auto 10px;
    height: 400px!important;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    font-weight: 900;
    color: black;
}

.intro_text{
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	color: black;
}

@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

.signup{
	position: relative;
	top: 150px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
}

.signuplogo{
	font-size: 1.2em;
}

input{
	border-radius: 50px;
	margin-left: 2px;
}

.login{
	position: relative;
	top: 150px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
}

input{
	text-align: center;
}


.appointments{
	position: relative;
	margin-top: 200px;
	font-family: 'Oswald', sans-serif;
}

footer img {
    display: block;
    height: 200px!important;
    margin-left: -100px;
    float: left;
}

footer p{
	float: left;
	font-size: 23px;
	margin-left: 60px;
}

footer {
  position: relative;
  height: 250px;
  clear:both;
  padding-top:20px;
 	background-color: black;
	color: #428bca;
} 

.new_reminder{
	position: relative;
	top: 300px;
	font-family: 'Oswald', sans-serif;

}

.h2{
	margin-left: 222px;
}

